{% extends 'base.html.twig' %}

{% block content %}
   
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
